/*
    Mobile Menu Core Style
*/
body{
	font-size: 12px;
	font-weight: normal;
}
.theclear{
	display: block;
	float: none;
}
.menu-primary-navigation-container {
  display: none;
}
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
	position: relative;
	top: 30px;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #222222;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
    background:#4c4c4c;
    padding:5px;
	font-size: 16px;
	position: fixed;
	top: 40px;
	width: 100%;
	z-index: 2147483647;
	left: 0;
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#222;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}
body{
	font-family: open sans;
	font-size: 14px;
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #000;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	float: none;
	position: relative;
}
.left-sidebar{
	margin-bottom: 30px;
}
h1.logo {
	margin: 0 auto;
	position: fixed;
	top: 41px;
	z-index: 2147483647;
}
.header-mob {
	background: none repeat scroll 0 0 #fff;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 90;
}
.goshop {
    display: table;
    float: left;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}
.goshop:first-child {
    border-right: 1px solid #dedede;
}

.nav-admin {
	position: fixed;
	top: 0;
	width: 100%;
	height:37px;
}
.nav.menu-primer {
    height: 37px;
    position: relative;
}

.logo-wrapper {
	position: relative;
	top: -37px;
}
.topakun {
	float: right;
	display: inline-flex;
	list-style: none;
	margin: 8px 0 ;
	padding: 0;
	position: relative;
	top: -37px;
}

.wrap-akun {
    position: fixed;
    right: 0;
    top: 94px;
    z-index: 20;
}
.tombol-akun {
    border: 1px solid #272727;
    border-radius: 4px;
    cursor: pointer;
    display: table-cell;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    width: 28px;
	background: #fff;
	position: absolute;
	right: 0;
	padding-top: 6px;
} 
#zona-akun > ul {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dedede;
	list-style: outside none none;
	margin-top: 32px;
	padding: 6px;
	width: 104px;
}
.wrap-tas {
    left: 0;
    position: fixed;
    top: 94px;
	z-index: 21;
	width: 143px;
}
.tas-belanja {
	background: url("../lib/img/tasbelanja.png") no-repeat scroll center center / 84% 80% #000;
	border-radius: 4px;
	cursor: pointer;
	display: table-cell;
	font-weight: bold;
	height: 28px;
	left: 0;
	padding-top: 4px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 32px;
	border: 1px solid #dedede;
}   
.main-mob{
	margin-top: 100px;
}
.callbacks_container a.prev,
.callbacks_container a.next{
	display: none;
}
#zona-akun li:first-child {
	border-bottom: 1px solid #dedede;
	padding-bottom: 4px;
}
.regro-button {
    margin: 0 auto;
    position: relative;
    top: -190px;
    z-index: 3;
	font-size: 18px;
}
.btn-rego {
    background: none repeat scroll 0 0 #272727;
    border: 2px solid #ededed;
    color: #fff;
    display: table;
    margin: 4px auto;
    padding: 4px 10px;
    text-transform: uppercase;
}

.lihatbelanja {
    background: none repeat scroll 0 0 #fff;
    padding: 4px;
	border: 1px solid #dedede;
}
.belanjaan {
    font-size: 14px;
    padding: 0;
}
.belanjaan > li {
    border-bottom: 1px solid #dedede;
    display: table;
    font-size: 12px;
    width: 100%;
}
.belanjaan img {
    float: left;
    margin: 6px;
    width: 43px;
}
.mobile-wrap {
	margin-bottom: 50px;
	margin-top: -50px;
	min-height: 100px;
}
.catmenus{ 
	padding: 4px 4px 4px 14px;
}
.catmenus > li > .children{  
	padding-left: 14px;
}
.thumbnail-wrapper > img {
	width: 100%;
	height: auto;
}
.for-link a{
	border-right-color:#DEDEDE;
	border-right-style:solid;
	border-right-width:1px;
	display:table;
	float:left;
	margin:4px 0;
	padding:0 ;
	width: 60px;
	text-align: center;
}
.for-link a:last-child{
	border: none;
}
.mobile-wrap > h3 {
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 8px;
}

.kotak-inner {
    border: 1px solid #e8e8e8;
    margin: 10px;
    padding-bottom: 21px;
    text-align: center;
}
.kotak-inner h2 {
    border-top: 1px solid #e8e8e8;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    text-transform: uppercase;
}
.buy-batik{
	background: url('img/button-beli.jpg') no-repeat center top;
	max-width: 141px;
	width: 100%;
	background-size: 100% auto;
	height: 41px;
	display: table;
	margin: 10px auto;
	border: none;
	cursor: pointer;
	transition: 1s all;
	color: transparent;
}
.buy-batik:hover{
	background: url('img/button-belihover.jpg') no-repeat center top;
	background-size: 100% auto;
}
.theclear.breadcrumb > p {
  font-size: 10px;
}
.fe-box {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    float: left;
    margin: 20px 0;
    padding-top: 10px;
    text-align: center;
    width: 33%;
}
.bottombox {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.banerBig.theclear > img {
	width: 100%;
}

.delivery-icon {
    display: table;
    margin: 10px auto;
}
.container > p {
}
.footer {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-size: 12px;
    margin: 10px 0 0;
    text-align: center;
}
.thumbnail-wrapper > img {
  display: block;
}

.footer-widget-wrap .widgettitle {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    font-weight: normal;
    padding: 4px 0;
    text-align: center;
}
.footer-widget-wrap .widget ul {
    font-weight: normal;
    list-style: outside none none;
    padding: 4px;
}

.produk-archive {
    float: left;
    width: 50%;
	min-width: 134px;
}
.wrap-pages {
    clear: both;
    display: table;
    width: 100%;
}
.banner-page > img {
    width: 100%;
}
.product-nav {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
    padding: 4px 10px;
}

.recent-leftsidebar > ul {
    display: table;
    list-style: outside none none;
    margin: 6px auto;
	padding: 2px;
    width: 98%;
}
.recent-thumb img {
    float: left;
    margin: 4px;
    width: 64px;
}
.recent-text {
    float: left;
    max-width: 60%;
}
.recent-text .product-title {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}
.recent-thumb {
    border-bottom: 1px solid #ededed;
    clear: both;
    color: #272727;
    display: table;
    margin: 4px 0;
    width: 100%;
}
.banner-leftsidebar > img {
	margin: 0 auto;
	float: none;
	display: block;
}

.back {
    display: none;
}
.tabsprodet {
    border: medium none;
    border-radius: 0;
}
.tabsprodet .ui-tabs-nav {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0;
}
.tabsprodet .ui-tabs-nav li {
    border: 1px solid #e8e8e8;
    border-radius: 0;
    font-size: 10px;
    height: 41px;
    text-align: center;
    text-transform: uppercase;
    width: 31%;
}
.tabsprodet .ui-tabs-nav li a {
    display: table-cell;
    float: none !important;
    height: 40px;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.tabsprodet .tabs-content {
    border: 1px solid #e8e8e8;
    margin: 10px 6px;
}
.comment-form-author, .comment-form-url, .comment-form-email {
    width: 100%;
}
.comment-form > input {
    display: block;
    float: none;
}
.comment-form input {
    border: 1px solid #8e8e8e;
    display: block;
    height: 27px;
    width: 100%;
}
.comment-form textarea {
    border: 1px solid #8e8e8e;
    width: 100%;
}
.form-allowed-tags {
    display: none;
}
.comment-form .submit {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
    height: 40px;
}
.input-satuan {
    display: block;
    width: 100%;
}
.qtyminuskod, .qtypluskod, .qtyminus, .qtyplus {
    background: none repeat scroll 0 0 #272727;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    color: #fff;
    display: inline-block; 
    height: 26px;
    width: 24px;
}
.input-satuan .qtykod, .input-satuan .qty {
    border: 1px solid #8e8e8e;
    border-radius: 0;
    display: inline-block;
    height: 24px;
    text-align: center;
    width: 35px;
}
.tombol-belanja {
    background: none repeat scroll 0 0 #272727;
    border: 1px solid #111;
    color: #fff;
    height: 30px;
    margin: 20px 0;
    text-transform: uppercase;
}
.total-harga > p {
    font-weight: bold;
}

table.table-cart{
	width: 100%;
	text-transform: uppercase;
	border: 1px solid #ebebeb;
}
table.table-cart, table.table-cart th, table.table-cart td {
	color: #272727;
    border-collapse: collapse;
	font-size: 12px;
}
table.table-cart th, table.table-cart td {
	padding: 6px;
}
table.table-cart th{
	text-align: center;
	font-weight: normal;
	border-bottom: 1px solid #272727;
	background: #ebebeb;
}
table.table-cart td{
	border-bottom: 1px solid #ebebeb;
}
.item-name{
	color: #000;
	font-weight: 600;
}
tfoot{
	border-top: 1px solid #272727;
}	
.table-footer > td{
	background: #ebebeb;
	border-top: 1px solid #272727;
} 
.remove-item{
	cursor:pointer;
	border: none;  
	position: relative;
	bottom: -20px;
	background: #d70303; 
	font-size: 10px;
	padding: 4px 10px;
	text-transform: uppercase;
	float: right;
}
.table-cart img {
	margin : 0px 12px;
	vertical-align: middle;
}
.harga-unit,
.sbtotal{
	text-transform: none;
}

.table-cart .panel-jenis {
    display: inline-block;
    float: none;
    margin: 2px;
    text-align: center;
}
.table-cart form {
    display: table;
    margin: 0 auto;
}
.table-cart .panel-jenis > p {
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}
.table-cart .input-satuan {
    margin: 0 0 4px;
}
a.shop-again {
	background: none repeat scroll 0 0 #272727;
	color: #fff !important;
	display: table-cell;
	height: 49px;
	vertical-align: middle;
	width: 194px;
}

input.shop-again {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dedede;
    color: #000;
    cursor: pointer;
    float: right;
    font-family: open sans;
    height: 48px;
    text-transform: unset;
    width: 100%;
}
input.shop-again:hover {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
}
.end-shoping {
	background: url("../img/belcawang.png") no-repeat 20px 50%  #272727;
	border: medium none;
	color: #fff;
	height: 54px;
	margin: 0 20px;
	padding-right: 24px;
	text-align: right;
	text-transform: uppercase;
	width: 244px;
	font-size: 18px;
}

.detail-belanja.theclear {
    border: 1px solid #ededed;
    display: table;
    margin: 30px 0;
    padding: 10px 0;
    width: 100%;
}
.detail-belanja.theclear > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 50%;
}
.detail-belanja > .panel-right {
    min-width: 246px;
    width: 26% !important;
}
.detail-belanja .panel-right > p {
    color: #000;
    font-family: open sans;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
}
.detail-belanja .panel-right p span {
    display: table;
    float: left;
    padding: 2px;
    width: 47%;
}
.detail-belanja .panel-right p span:last-child {
    text-align: right;
}
p.the-total {
    font-size: 18px !important;
    font-weight: 600 !important;
}
.detail-belanja .panel-right span > b {
  float: left;
  font-weight: normal;
  margin-left: 10px;
}
.single .buy-batik{
	display: none;
}
.cart-wrapp{
	display: table;
	width: 100%;
	margin: 180px auto 20px;
}
.single .col-thumbs-product{
	width: 22%;
	text-align: center;
	font-size: 12px;
}
.post-title{
	font-size: 14px;
}
.separoh{
	float: left;
	width: 48%;
	margin: 10px 1%;
	display: table;
}
.wrap-imagecart{
	max-width: 127px;
	height: 200px;
}
.wrap-imagecart > img{ 
	width: 100%;
	height: auto;
}
.wrap-textcart{
	font-size: 12px;
}
.wrap-textcart > p{
	margin: 2px 0;
}
.mlist-belanjaan{
	display: table;
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
	width: 100%;
}
.keproduk-m{
	background:#272727;
	color:#FFFFFF;
	font-size:12px;
	padding:6px 8px;
	text-transform:uppercase;
	cursor: pointer;
}
.text-total{
	font-size: 12px;
}
.text-total > p > span{
	display: block;
	font-weight: normal;
}
.end-mshoping{
	background:#272727;
	border:1px solid #000000;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:4px 6px;
	text-transform:uppercase;
	width:100%;
	cursor: pointer;
}

.sidebar-log label {
    display: table;
}
.sidebar-log input[type="password"], .sidebar-log input[type="text"] {
    border: 1px solid #b6b6b6;
    border-radius: 0;
    height: 20px;
    padding: 4px;
	width: 96%;
}
.sidebar-log input[type="checkbox"] {
    display: block;
}
.sidebar-log input[type="submit"] {
    background: none repeat scroll 0 0 #272727;
    border: 1px solid #000;
    color: #fff;
    display: block;
    height: 30px;
    max-width: 159px;
    text-transform: uppercase;
    width: 100%;
}
.forgot-pass {
	color: #ff0000;
	display: block;
	font-size: 10px;
	font-weight: bold;
	margin: 10px 0;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}
.sidebar-log fieldset {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.sidebar-log > form {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.icon-login-sos {
    display: table;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
}
.icon-login-sos > li {
    display: inline-block;
    height: 34px;
    width: 34px;
}
.icon-login-sos a {
    display: block; 
}
.icon-login-sos img {
    height: auto;
    width: 100%;
}


.page-title {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.page-title > span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
}
.header-checkout {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0 !important;
}
.header-checkout li {
    border: 1px solid #dedede !important;
    border-radius: 0;
    float: left;
    margin: 0 !important;
    min-width: 50px;
    text-align: center;
    width: 32%;
	word-wrap: break-word;
	white-space: normal!important;
	font-size: 12px;
}
.ui-tabs-anchor{
	font-size: 10px;
	padding: 0;
}
.content-product .ui-tabs {
    border: medium none transparent;
}
.content-product .ui-tabs-panel {
    border: 1px solid #dedede;
}
.data-beli > h3 {
    font-size: 14px;
    text-transform: uppercase;
}
.data-beli ul {
    list-style: outside none none;
	padding: 0;
}
.data-beli label {
    display: block;
}
.data-beli input[type="text"], .data-beli input[type="email"], .data-beli select {
    border: 1px solid #aaaaaa;
    font-size: 12px;
    height: 23px;
    margin: 4px 0;
    max-width: 383px;
    width: 100%;
}
.data-beli textarea {
    border: 1px solid #9b9b9b;
    max-width: 380px;
    width: 100%;
}

.data-beli .next,
.data-bayar .next,
.finish-shop input[type="submit"] {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
    display: table;
    font-size: 14px;
    margin: 12px 0;
    max-width: 300px;
    padding: 8px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
	cursor: pointer;
	border: 1px solid #000;
}
.dipilih > div {
	background-image: url("../lib/img/checked.png") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: 20px auto !important;
}

.size-dipilih {
    background: none repeat scroll 0 0 #000 !important;
    color: #fff;
}
.produk_size {
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 2.5;
}
.list-deal .tombol-belanja {
    clear: both;
    display: table;
    margin: 40px auto 10px;
}
#ajax-size {
    min-height: 1px;
}

.data-bayar .theclear img {
    display: block;
}
.data-bayar {
    font-size: 12px;
}

.wrap-beli-detail .box-listbarang {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.content-product{
	font-size: 12px;
}
.box-listbarang .panel-left, .box-listbarang .panel-right {
	border-bottom: 1px solid #dedede;
}
.box-listbarang .panel-left p, .box-listbarang .panel-right p{
	margin: 2px 0;
}
.box-listbarang .panel-left p  span,
.box-listbarang .panel-right p  span {
	float: right;
}
/*-- Blog CSS -- */

.meta-left {
    font-size: 12px;
    margin-top: 10px;
}
.nav {
}
.cat-black {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
    padding: 6px;
    text-align: center;
}
.meta-left > p {
    border-bottom: 1px solid #ededed;
    margin: 2px 0;
    padding: 1px 10px;
}

.wrap-post-image > img {
	width: 100%;
	max-width: 100%;
	float: none;
	margin: 2px auto;
}
nav.page-nav {
	display: table;
}
.page-nav .navigation > ul {
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
}
.page-nav .navigation li {
    border: 1px solid #272727;
    display: table-cell;
    float: left;
    font-size: 12px;
    height: 17px;
    margin: 10px 4px 10px 0;
    min-width: 15px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}
.page-nav .navigation ul li.active, .page-nav .navigation ul li:hover {
    background: none repeat scroll 0 0 #272727;
    color: #fff;
}
.page-nav .navigation ul li.active a, .page-nav .navigation ul li:hover a {
    color: #fff;
    display: block;
    position: relative;
}

.konfirmasi-pembayaran {
    border: 1px solid #dedede;
    display: block;
    padding: 10px;
}
.konfirmasi-pembayaran > .thelist > label {
    display: block;
    font-size: 12px;
    margin: 4px 0;
}
.konfirmasi-pembayaran > .thelist > input[type="text"] {
    border: 1px solid #dedede;
    height: 23px;
    max-width: 300px;
    width: 86%;
}
.konfirmasi-pembayaran > .thelist > input[type="submit"] {
    background: none repeat scroll 0 0 #272727;
    border: 1px solid #000;
    color: #fff;
    height: 29px;
    margin: 4px 0;
    max-width: 304px;
    text-transform: uppercase;
    width: 87%;
}
/*form popup css*/

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    position: absolute;
    right: 9px;
    width: 0;
	z-index: 99999;
}
.title-login {
    font-size: 18px;
    text-transform: uppercase;
}
.inner-popup form {
    display: table;
    float: none;
    margin: 10px auto;
    width: 100%;
}
.inner-popup {
    display: table;
    float: none;
    margin: 10px auto;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
    border-radius: 0;
    color: #272727;
    height: 25px;
    margin: 10px 0;
    width: 97%;
}
form input[type="submit"] {
    background: none repeat scroll 0 0 #000;
    border: medium none;
    color: #fff;
    padding: 6px 17px;
    text-transform: uppercase;
    width: auto;
}
/*Profile Css*/

.myprof-tit {
    background: none repeat scroll 0 0 #000;
    border-color: -moz-use-text-color -moz-use-text-color #b3b3b3;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-style: none none solid;
    border-width: medium medium 4px;
}
.myprof-tit li.ui-tabs-active {
    background: none repeat scroll 0 0 #b3b3b3 !important;
}
.myprof-tit li a {
    color: #fff !important;
	text-transform: uppercase;
} 

.myprof-tit li.ui-tabs-active a {
    color: #000000!important;
}
.myprof-tit li {
    background: none repeat scroll 0 0 transparent!important;
    border: medium none!important;
    color: #fff;
	border-radius: 0px!important;
}

.f-editprof > ul {
    list-style: outside none none;
    padding: 0;
}
.f-editprof li input[type="text"], .f-editprof li input[type="email"], .f-editprof li input[type="password"] {
    border: 1px solid #c3c3c3;
    color: #000;
}
.f-editprof li input[type="submit"] {
    margin: 20px 0;
	cursor: pointer;
}
.f-editprof li textarea {
    border: 1px solid #c6c6c6;
    height: 100px;
    width: 97%;
} 
.inner-vtabs table {
    min-width: 120px;
    width: 100%;
}
.inner-vtabs thead {
    font-size: 9px;
    font-weight: 300 !important;
    white-space: normal;
    word-wrap: break-word;
}
.inner-vtabs th, .inner-vtabs td {
    display: table-cell;
    font-weight: normal !important;
    min-width: 64px;
}
.inner-vtabs thead tr {
    display: table;
    width: 100%;
}
.inner-vtabs {
    overflow: auto;
}

