.ui-sortable{
	list-style: none;
	display: inline-block;
}
.ui-sortable > li{
	float: left;
	display: table;
	margin-right: 10px;
}
#ferina-product-images-ul img {
	height: 69px;
	width: auto;
}
.delete-fpi-li {
	color: #ff0000;
	display: block;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}
.postbox-container .meta-box-sortables {
	box-sizing: border-box;
	width: 100%;
}
